.mainbody{
    background-color: grey;
    display: flex;
    justify-content: flex-start;
    padding-left: 100px;
    align-items: center;
    gap: 50px;
    height: 3rem;
    
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.search-container input{
    padding: 8px;
    width: 250px;
}